<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908554123715-fan741548tr1mspdeelgilqv85cj8occ.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908554123715-fan741548tr1mspdeelgilqv85cj8occ</string>
	<key>API_KEY</key>
	<string>AIzaSyCOt9DHajE_xfc89Z6YRRzjdhHVQi6VL_w</string>
	<key>GCM_SENDER_ID</key>
	<string>908554123715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alwaysgoodapps.flutterbyte</string>
	<key>PROJECT_ID</key>
	<string>flutterbyte-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterbyte-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908554123715:ios:1f513175c3e1bb53222576</string>
</dict>
</plist>